.title {
width: 215px;
font-family: monospace;
color: rgb(248, 213, 115, 150%) ;
}

#city {
background-color: rgba(18, 145, 200, 0.1);
border:rgb(255, 255, 255);
color: rgb(110, 162, 54);
outline-style: double;
font-family:sans-serif; 
}

.package-name {
    color: rgb(43, 157, 43, 350%);
}

.pricing-table {
    width: 170px;
    padding: 20px;
    border: 10px solid rgb(17, 208, 74);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande'
}

.features {
padding: 15px;
list-style-type: none;
}

.position {
    text-align: center;
}